<%- include("partials/header") %>

<div class="land">

<img src="https://mk0tarestaurant7omoy.kinstacdn.com/wp-content/uploads/2018/01/premiumforrestaurants_0.jpg" alt="rest image">
<h1 >Welcome to FoodAdvisor </h1>

<h2>A place to find new restaurants and to share your favourite ones</h2>

<h2><a href="/restaurants">View Restaurants</a></h2>

</div>

<%- include("partials/footer") %>