<%- include("partials/header") %>
<h1 class="content">Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password"><br>
    <button>Login</button>
</form>