<%- include("partials/header") %>
<h1 class="content">Sign up</h1>

<form action="/register" method="POST"><br>
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button>Sign up</button>

</form>